*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans",sans-serif;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	background: url('../../assets/bannerProfile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid  rgba(255, 255, 255, 0.5);
	border-right: 1px solid  rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}

header .logo{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header .logo span{
	color: #FF00C6;
}

header .navegador{
	position: relative;
	display: flex;
}

header .navegador li{
	list-style: none;
	margin-left: 30px;
}

header .navegador li a{
	text-decoration: none;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	transition: .7s ease;
	border-radius: 35px;
}

header .navegador li a:hover,
header .navegador li a.activo{
	color: #FF6C00;
	background: #fff;
}

section{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.contenedor{
	position: relative;
}

.caja{
	position: relative;
	width: 700px;
	min-height: 400px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid  rgba(255, 255, 255, 0.5);
	border-right: 1px solid  rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}

.formulario{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
}

.formulario h2{
	position: relative;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.formulario span{
	color: #FF7800;
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.formulario h2::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 140px;
	height: 4px;
	background: #fff;
}

.formulario .entrada{
	width: 100%;
	margin-top: 25px;
}

.formulario .entrada h3{
	color: #fff;
	margin-bottom: 5px;
}

.formulario .entrada input,
.formulario .entrada .Btn{
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 35px;
	border: 1px solid  rgba(255, 255, 255, 0.5);
	border-right: 1px solid  rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.formulario .entrada input::placeholder{
	color: #fff;
}

.formulario .entrada a{
        text-decoration: none; 
	background: #fff;
	color: #666;
	cursor: pointer;
	font-weight: 600;
        width: 100%;
}

.btn{
	font-size: 1em;
	color: #666;
	font-weight: 500;
	background: #FFFFFF;
	display: inline-block;
	padding: 10px 50px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border-radius: 35px;
}

.btn:hover{
	letter-spacing: 4px;
}

#cname{
	width: 45%;
}

#clast{
	width: 50%;
}

#cweight{
	width: 15%;
}

#cheight{
	width: 15%;
}

#cmail{
	width: 60%;
}

#csubmit{
	width: 60%;
}

#celiminar{
	width: 35%;
}

footer{
	padding: 8px 40px;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid  rgba(255, 255, 255, 0.5);
	border-right: 1px solid  rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}

footer p{
	color: #fff;
	text-align: center;
}

footer span{
	color: #FF6000;
	font-weight: 700;
	text-decoration: none;
}


